*~
*.bak
docs/solucionJoaquin/solucionJoaquin.*
!docs/solucionJoaquin/solucionJoaquin.tex
!docs/solucionJoaquin/solucionJoaquin.pdf
docs/trabajoPracticoICD/tpICD_joaquin.*
!docs/trabajoPracticoICD/tpICD_joaquin.tex
!docs/trabajoPracticoICD/tpICD_joaquin.pdf
.nfs*
